*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.container {
    max-width: 114rem;
    padding: 0 8rem;

    @include respond(phone) {
        padding: 0 2rem;
    }
}

.active {
    color: #777 !important;

    @include respond(tab-port) {
        background-color: #aaa !important;
        color: #333 !important;
    }
}
